## **1. Lists and its default functions:**

In [57]:
# Creating a list
my_list = [10,2,75,14,12]
print(my_list)

[10, 2, 75, 14, 12]

### **Default Functions in lists:**

For adding elements in list:
1.   append()
2.   insert()
3.   extend()

In [58]:
#APPEND()

#Appending elements to the existing list
my_list.append('Saurabh')
print(my_list)

#Appending another list
my_lst = [2, 'Harry']
my_list.append(my_lst)
print(my_list)

#Appending Tuples to list
my_list.append((4, 'Pola'))
print(my_list)

#Size of the list
print("Size of the list:",len(my_list))

[10, 2, 75, 14, 12, 'Saurabh']
[10, 2, 75, 14, 12, 'Saurabh', [2, 'Harry']]
[10, 2, 75, 14, 12, 'Saurabh', [2, 'Harry'], (4, 'Pola')]
Size of the list: 8

In [59]:
#INSERT()

#Inserting integer at 2nd position
my_list.insert(2, 20)
print(my_list)

#Inserting string at 4th position
my_list.insert(4, 'Denmark')
print(my_list)

[10, 2, 20, 75, 14, 12, 'Saurabh', [2, 'Harry'], (4, 'Pola')]
[10, 2, 20, 75, 'Denmark', 14, 12, 'Saurabh', [2, 'Harry'], (4, 'Pola')]

In [60]:
#EXTEND()

#Extending the existing list with another list
my_list.extend([8, 'Upgrade', 57])
print(my_list)

[10, 2, 20, 75, 'Denmark', 14, 12, 'Saurabh', [2, 'Harry'], (4, 'Pola'), 8, 'Upgrade', 57]

For removing elements from list:
1.   remove()
2.   pop()
3.   clear()
4.   del

In [61]:
#REMOVE()

#Removes the value from the list
my_list.remove(14)
print(my_list)

[10, 2, 20, 75, 'Denmark', 12, 'Saurabh', [2, 'Harry'], (4, 'Pola'), 8, 'Upgrade', 57]

In [62]:
#POP()

#Deletes an element from a particular position
my_list.pop(8)
print(my_list)

[10, 2, 20, 75, 'Denmark', 12, 'Saurabh', [2, 'Harry'], 8, 'Upgrade', 57]

In [63]:
#CLEAR()

#Clears all the elements from a list
my_lst.clear()
print(my_list)
my_list.pop(7)
print(my_list)

[10, 2, 20, 75, 'Denmark', 12, 'Saurabh', [], 8, 'Upgrade', 57]
[10, 2, 20, 75, 'Denmark', 12, 'Saurabh', 8, 'Upgrade', 57]

In [64]:
#DEL

my_lst=[21, 45, 'Star']
print(my_lst)
#Delete all the elements from the lists
del my_lst[1 : ]
print(my_lst)

[21, 45, 'Star']
[21]

Sorting a list in ascending order:
*   sort()

Reversing a list:
*   reverse()

In [65]:
#SORT()

#Removing all the elements containing strings
my_list.pop(4)
my_list.pop(5)
my_list.pop(6)

#Sorting the list in ascending order
my_list.sort()
print(my_list)

[2, 8, 10, 12, 20, 57, 75]

## **2. Dictionary and its default functions:**

In [1]:
#Creating a dictionary

d1 = {'Name': 'Saurabh', 'Age': 22, 1 : [1, 2, 5, 6]}
print(d1)
print(type(d1))


#Creating a dictionary using dict() function
d2 = {} #Creating an empty dictionary
d2 = dict({2 : [2,0,2,0], 'SuperHero' : 'Minnal Murali'})
print(d2)

#Creating dictionary with each item as pair
d2 = dict([('America', 'Trump'), ('India' , 'Modi')])
print(d2)

#Nested Dictionary
d3 = {'Film': {'Batman': 'Christian Bale', 'Iron-Man': 'Robert Downey Jr.'}}
print(d3)

{'Name': 'Saurabh', 'Age': 22, 1: [1, 2, 5, 6]}
<class 'dict'>
{2: [2, 0, 2, 0], 'SuperHero': 'Minnal Murali'}
{'America': 'Trump', 'India': 'Modi'}
{'Film': {'Batman': 'Christian Bale', 'Iron-Man': 'Robert Downey Jr.'}}

### **Default functions in dictionary:**

To obtain keys used in a particular dictionary:
*   keys()

To obtain values of those particular keys used:
*   dictionary_name.values()

To access the value of a particular key:
*   get()

To update the current dictionary with another one:
*   update()

To remove an arbitrary key-value pair from the dictionary:
*   popitem()

To remove a particular key-value pair from the dictionary:
*   pop()

In [3]:
#KEYS()

d1.keys()

dict_keys(['Name', 'Age', 1])

In [4]:
#VALUES()

d1.values()

dict_values(['Saurabh', 22, [1, 2, 5, 6]])

In [5]:
#GET()

#To obtain the value of a particular key
d1.get("Name")

'Saurabh'

In [6]:
#UPDATE()

#To update a dictionary with another dictionary
d1.update(d2)
d1

{1: [1, 2, 5, 6],
 'Age': 22,
 'America': 'Trump',
 'India': 'Modi',
 'Name': 'Saurabh'}

In [7]:
#POPITEM()

#To remove a arbitrary key-value 
d1.popitem()
d1

{1: [1, 2, 5, 6], 'Age': 22, 'America': 'Trump', 'Name': 'Saurabh'}

In [8]:
#POP()

#To remove a particular key-value pair
d1.pop('America')
d1

{1: [1, 2, 5, 6], 'Age': 22, 'Name': 'Saurabh'}

## **3. Sets and its default functions:**

In [13]:
#Creating a set

s1 = {'a', 'e', 'i', 'o','u'}
print(s1)

#Creating a set using set()
s2 =  set(['a','e','i','o','u'])
print(s2)

{'e', 'o', 'a', 'u', 'i'}
{'e', 'o', 'a', 'u', 'i'}

### **Default functions used in sets:**

Adding elements in sets or inserting elements:
*   add()

Union in sets i.e. to merge any two sets removing duplicates:
*   union() or |   

Intersection in sets or to find common elements :
*   intersection() or &

To find difference in sets i.e. to find uncommon elements:
*   difference() or -

To clear all the elements in sets:
*   clear()

In [20]:
#ADD()

#Adding elements to set
s1.add(2)
s1.add(45)
s1

{2, 45, 'a', 'e', 'i', 'o', 'u'}

In [21]:
#UNION() or |

#Merging two sets using union() or '|' 
#and removing duplicates 

s2 = set([2, 45, 54, 66, 45])
#s3 = s1.union(s2)
s3 = s1 | s2
print(s3)

{2, 66, 'e', 'o', 45, 'a', 54, 'u', 'i'}

In [22]:
#INTERSECTION() or &

#To obtain common elements using intersection() or '&'

#s4 = s1.intersection(s2)
s4 = s1 & s2
print(s4)

{2, 45}

In [24]:
#DIFFERENCE()

#To obtain uncommon elements from the sets

s5 = s1.difference(s2)
s6 = s2.difference(s1)
#s5 = s1 - s2
print(s5)
print(s6)

{'e', 'o', 'a', 'u', 'i'}
{66, 54}

In [25]:
#CLEAR()

#For clearing all the elements from a set
s2.clear()
s2

set()

## **4. Tuples and its default functions:**

In [26]:
#Creating tuples

#One way:
t1 = 1, 2
print(t1)

#Second Way:
t2 = 'Om','Shri'
print(t2)

(1, 2)
('Om', 'Shri')

### **Default functions in tuple:**

Concatenating two tuples:
*   tuple1 + tuple2

Nesting of tuples:
*   tuple3 = (tuple1, tuple2)

To find the max value:
*   max()

To find the min value:
*   min()

To convert any sequence into tuple:
*   tuple(seq)

In [27]:
#Concatenation

t3 = t1 + t2
print(t3)

(1, 2, 'Om', 'Shri')

In [28]:
#Nesting 

t4 = (t1, t3)
print(t4)

((1, 2), (1, 2, 'Om', 'Shri'))

In [32]:
#To obtain the maximum value entered in tuple

print(max(t1))
print(max(t4))

2
(1, 2, 'Om', 'Shri')

In [33]:
#To obtain the minimum value entered in tuple

print(min(t2))
print(min(t4))

Om
(1, 2)

In [35]:
#To convert any sequnece into tuple

t5 = tuple([12, 45, 78, 56, 90])
print(t5)

(12, 45, 78, 56, 90)

## **5. String and its default functions:**

In [63]:
#Creating a string

Str = "My favorite destination to travel is Prague, Prague is famous for its cuisine"
print(Str)

#For creating(left, centre, right) alignment in the strings:
S2 = "{:<2}{:^5}{:>2} ".format('I','love','Bengaluru') 
print(S2)

My favorite destination to travel is Prague, Prague is famous for its cuisine
I love Bengaluru

### **Default functions used in string:**

To find the total length of the string:
*   string.len

To convert a string containing lower and uppercase letters to upper and lowercase respectivey
*   string.swapcase

To replace a certain character in the string
*   string.replace

To count number of occurences of a substring in a string
*   string.count

To find the highest index
*   string.rindex

In [64]:
#Length of string:

len(Str)

77

In [65]:
#Converting lower to upper case letters and vice versa

Str.swapcase()

'mY FAVORITE DESTINATION TO TRAVEL IS pRAGUE, pRAGUE IS FAMOUS FOR ITS CUISINE'

In [66]:
#Replacing a particular character  with another one

S1 = Str.replace('Prague', 'Venice')
print(S1)

My favorite destination to travel is Venice, Venice is famous for its cuisine

In [68]:
#To count number of occurence of a substring in a string

Str.count("Prague")

2

In [69]:
#To know the highest index of any substring inside a string

Str.rindex("Prague")

45